[submodule "mos65xx-python"]
	path = mos65xx-python
	url = https://github.com/gufranco/mos65xx-python.git
[submodule "snes-sdd1-python"]
	path = snes-sdd1-python
	url = https://github.com/gufranco/snes-sdd1-python.git
[submodule "sony-spc700-python"]
	path = sony-spc700-python
	url = https://github.com/gufranco/sony-spc700-python.git
[submodule "snes-mapper-python"]
	path = snes-mapper-python
	url = https://github.com/gufranco/snes-mapper-python.git
[submodule "sony-s-dsp-python"]
	path = sony-s-dsp-python
	url = https://github.com/gufranco/sony-s-dsp-python.git
[submodule "snes-rom-image-python"]
	path = snes-rom-image-python
	url = https://github.com/gufranco/snes-rom-image-python.git
[submodule "sony-s-smp-python"]
	path = sony-s-smp-python
	url = https://github.com/gufranco/sony-s-smp-python.git
[submodule "snes-graphics-python"]
	path = snes-graphics-python
	url = https://github.com/gufranco/snes-graphics-python.git
[submodule "snes-driver-python"]
	path = snes-driver-python
	url = https://github.com/gufranco/snes-driver-python.git
